<section>
  <div class="bg-main-light w-75 mx-auto p-3 rounded">
    <h2 class="border-2 border-bottom pb-3">Forget Password : </h2>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgotpassword(forgetPasswordForm)">
      <div class="mb-3 form-group">
        <label for="email" class="form-label">Please Enter Your Email:</label>
        <input
          #emailInput
          type="email"
          formControlName="email"
          id="email"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            forgetPasswordForm.get('email')?.errors &&( forgetPasswordForm.get('email')?.touched || emailInput.value.length > 0 )
          "
        >
          <p *ngIf="forgetPasswordForm.get('email')?.getError('required')">
            Email must be required
          </p>
          <p *ngIf="forgetPasswordForm.get('email')?.getError('email')">
            Email is not valid
          </p>
        </div>
      </div>
      <button
      class="btn-main d-block ms-auto "
      [disabled]="forgetPasswordForm.invalid"
    >
      <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>Verify
    </button>
    </form>
  </div>
</section>
