<section>
  <div class="bg-main-light w-75 mx-auto p-3 rounded">
    <h2 class="border-2 border-bottom pb-3">Reset Your Password : </h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
      <div class="mb-3 form-group">
        <label for="email" class="form-label">Your Email:</label>
        <input
          #emailInput
          type="email"
          formControlName="email"
          id="email"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            resetPasswordForm.get('email')?.errors &&( resetPasswordForm.get('email')?.touched || emailInput.value.length > 0 )
          "
        >
          <p *ngIf="resetPasswordForm.get('email')?.getError('required')">
            Email must be required
          </p>
          <p *ngIf="resetPasswordForm.get('email')?.getError('email')">
            Email is not valid
          </p>
        </div>
      </div>
      <div class="mb-3 form-group">
        <label for="newPassword" class="form-label">New Password :</label>
        <input
          #newPasswordInput
          type="password"
          formControlName="newPassword"
          id="newPassword"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            resetPasswordForm.get('newPassword')?.errors &&( resetPasswordForm.get('newPassword')?.touched || newPasswordInput.value.length > 0 )
          "
        >
          <p *ngIf="resetPasswordForm.get('newPassword')?.getError('required')">
            password must be required
          </p>
          <p *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">
            password must be form 4 characters to 8 characters
          </p>
        </div>
      </div>
      <button
      class="btn-main d-block ms-auto "
      [disabled]="resetPasswordForm.invalid"
    >
      <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>Verify
    </button>
    </form>
  </div>
</section>

