<section class="py-5" *ngIf="products.length;else emptyWishlist ">
  <div>
    <h2 class="text-capitalize fw-bolder text-main">Wishlist</h2>
    <!-- you can use refrance in this searchInput  -->

  </div>
  <div class="row g-2">
    <ng-container
      *ngFor="let product of products"
    >
      <div class="col-md-3">
        <div class="card product">


             <i  *ngIf="wishlistDate.includes(product._id)" (click)="removeFormWishlist(product._id)"  class="fa-solid text-main fa-heart fa-2x heart cursor-pointer"></i>
          <div class="cursor-pointer" [routerLink]="['/details', product._id]">
            <img
              [src]="product.imageCover"
              class="card-img-top"
              [alt]="product.title"
              [title]="product.title"
            />
            <div class="card-body">
              <h3 class="card-title h6 text-main">
                {{ product.category.name }}
              </h3>
              <h4 class="card-title h6">{{ product.title | cuttext : 2 }}</h4>
              <!-- <h4 class="card-title h6">{{product.title.split(' ').splice(0, 2).join(' ')}}</h4> -->
              <div class="d-flex justify-content-between">
                <span>{{ product.price | currency : "EUR" }}</span>
                <!-- <span>{{product.price}} EGP</span> -->
                <span
                  ><i class="fa fa-star rating-color"></i
                  ><span class="text-muted">{{
                    product.ratingsAverage
                  }}</span></span
                >
              </div>
            </div>
          </div>
          <button class="btn-main w-100 mt-2" (click)="addProductToCart(product._id)">Add to Cart</button>
        </div>
      </div>
    </ng-container>
  </div>
</section>


<ng-template #emptyWishlist>
  <section>
    <div class="bg-main-light w-75 mx-auto p-5 rounded text-center">
      <h2 class="fw-bolder text-main fs-1">your Wishlist is empty ...</h2>
    </div>
    </section>
</ng-template>
