:host{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  min-height:100vh;
  background: {
    image: url(../../../assets/images/light-patten.svg);
    size: cover;
    repeat:no-repeat;
    position: center;
  };
}
