<section class="my-5">
  <div class="w-75 mx-auto bg-main-light p-4 rounded">
    <h1 class="text-capitalize fw-bolder text-main">Update Password:</h1>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword(updatePasswordForm)">

      <div class="mb-3 form-group">
        <label for="password" class="form-label">Current password:</label>
        <input
          #passwordlInput
          type="password"
          formControlName="currentPassword"
          id="Current password"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            updatePasswordForm.get('currentPassword')?.errors &&
            (updatePasswordForm.get('currentPassword')?.touched ||
              passwordlInput.value.length > 0)
          "
        >
          <p *ngIf="updatePasswordForm.get('currentPassword')?.getError('required')">
            password must be required
          </p>
          <p *ngIf="updatePasswordForm.get('currentPassword')?.getError('pattern')">
            password must be form 4 characters to 8 characters
          </p>
        </div>
      </div>
      <div class="mb-3 form-group">
        <label for="password" class="form-label">password:</label>
        <input
          #passwordlInput
          type="password"
          formControlName="password"
          id="password"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            updatePasswordForm.get('password')?.errors &&
            (updatePasswordForm.get('password')?.touched ||
              passwordlInput.value.length > 0)
          "
        >
          <p *ngIf="updatePasswordForm.get('password')?.getError('required')">
            password must be required
          </p>
          <p *ngIf="updatePasswordForm.get('password')?.getError('pattern')">
            password must be form 4 characters to 8 characters
          </p>
        </div>
      </div>
      <div class="mb-3 form-group">
        <label for="rePassword" class="form-label">rePassword:</label>
        <input
          #rePasswordlInput
          type="password"
          formControlName="rePassword"
          id="rePassword"
          class="form-control"
        />
        <div
          class="alert alert-danger"
          *ngIf="
            updatePasswordForm.get('rePassword')?.errors &&
            (updatePasswordForm.get('rePassword')?.touched ||
              rePasswordlInput.value.length > 0)
          "
        >
          <p *ngIf="updatePasswordForm.get('rePassword')?.getError('required')">
            rePassword must be required
          </p>
          <p *ngIf="updatePasswordForm.get('rePassword')?.getError('mismatch')">
            rePassword must be matched with password
          </p>
        </div>
      </div>

      <button
        class="btn-main text-white d-block ms-auto mb-3"
        [disabled]="updatePasswordForm.invalid"
      >
        <i *ngIf="isLoading" class="fa fa-spinner fa-spin"></i>Confirm
      </button>
      <div class="alert alert-danger" *ngIf="errMsg">
        {{ errMsg }}
      </div>
    </form>
  </div>

</section>

